.grid {
    padding: 10px;
}

h1, h2, h3, h4, h5, h6, p {
    margin-left: 3px;
    margin-right: 3px;
}

body !important{
    background-color: #363f8a;
}

@keyframes fade-in{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes fade-out{
    from{opacity: 100%;}
    to{opacity: 0%;}
}
